section h1{
    text-align: center;
}

#video-container{
    margin-top: 8cqw;
    margin-bottom: -5cqw;
}
p{
    text-align: center;
    margin-left: 4cqw;
    margin-right: 4cqw;
    margin-top: 4cqw;
    line-height: 2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.7; margin: 5cqw; margin-top: 10cqw; 
    font-size: 18px;
}

.link{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15;
    border-style:double;
    padding: 1.5cqw;
    text-decoration: none;
    border-radius: 8em;
    background-color: #00033C;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 27cqw;
    margin-right: 27cqw;
}


h2{
    text-align: center;
    margin-top: 20cqw;
    margin-bottom: 3cqw;
    font-weight: 500;
    color: #00033C;

}


.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    img{
        width: 50%;
    }
}

/*UX*/
video{
    width: 100%;
}


/*ANIMATION*/
#java{ border-color: rgb(203, 125, 23); border-style:solid; border-width: 0.1em;
   margin: 2cqw;}


/*INDHOLD*/
.lottie{
    position: relative;
    aspect-ratio: 30/20;
    margin-bottom: -18cqw;
    margin-top: -15cqw;
}

.lottie2{
    aspect-ratio: 16/9;
}

#torsten{
    width: 80%;
    margin-top: 6cqw;
    margin-bottom: 5cqw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px; 
    margin: 0 auto; 
}

/*GRID*/
.grid-4{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-right: 8cqw;
    margin-top: 5cqw;
    margin-bottom: 6cqw;
}

.grid-4 ul{
    list-style: none;
    text-align: center;
}

.grid-4 li a{
    text-decoration: none;
    color: #00033C;
    font-weight: 500;
    font-family: "Inria Sans", serif;
    font-style: normal;
    text-align: center;
}

.grid-4 img{
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-top: 1.6em;
    border-radius: 50%;
    width: 60%;
}

#port{
    margin-top: 2em;
    margin-bottom: 13em;
}



@media (width >=800px){
    .grid-4{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        margin-right: 9.5cqw;
        margin-left: 7cqw;
        margin-top: 6cqw;
        margin-bottom: 5cqw;
    }

    .grid-4 img{
        width: 40%;
    }
h1{
    font-size: 40px;
}
p{
    margin-top: 1.5cqw;
    margin-left: 18cqw;
    margin-right: 18cqw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: 400;
}
.link{
    margin-left: 40cqw;
    margin-right: 40cqw;
    font-size: 20;
    width: 15%;
}


.mac{
    width: 80%;
    margin-left: 10cqw;
    margin-top: 3cqw;
    margin-bottom: 5cqw;
}

h2{
    margin-top: 10cqw;
}

video{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
    width: 70%;  
    margin-bottom: 2cqw;       
}    

#torvid{
    width: 90%;
    margin-top: 2cqw;
    margin-bottom: 5cqw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px; 
    margin-left: 15cqw;

}


.grid-2 img{
    width: 40%;
}

.grid-2{
    margin-left: 20cqw;
    margin-right: 20cqw;
    margin-bottom: 10cqw;
}

#torsten{
    width: 45%;
    margin-top: 6cqw;
    margin-bottom: 5cqw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px; 
    margin: 0 auto; 
}

.lottie{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
    width: 60%;  
    margin: 0 auto;
    margin-bottom: -14cqw;  
    margin-top: -16cqw;
}

.lottie2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
    width: 60%;  
    margin: 0 auto; 
}

#video-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
    width: 100%;  
    margin: 0 auto;
    margin-left: 12cqw;
}

}


/*INTRO*/

#kort{
    margin-top: 3cqw;
}

@media (width >=800px){
#kort{
    width: 70%;
    margin-left: 15cqw;
    margin-top: 3cqw;
    margin-bottom: 5cqw;
}}


/*WEB*/
@media (width >=800px){
    #grid-kode{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 1cqw;
        
        
    }
    #grid-kode h2{
        margin-top: 0cqw;
    }
    #grid-kode p{
        margin: 0;
    }
    #kr{
        margin-bottom: 3cqw;
    }

    #wr{
        margin-bottom: 3cqw;
        margin-top: 8cqw;
    }

    .kode{
        margin: 3cqw;
        margin-top: 10cqw;
        gap: 2cqw;
    }
    .kode img{
        width: 65%;
        margin-left: 17cqw;
    }
    #burger{
        margin-top: 5cqw;
        margin-right: 5cqw;
    }
}